!!!
%html
  %head
    %title mustachio
    = haml :ga
    :css
      img {
        border: none;
      }
      #footer {
        margin-top: 250px;
        text-align: center;
      }
      #footer,
      #footer a {
        color: grey;
      }
  %body
    %a{:href => "http://github.com/afeld/mustachio"}
      %img{:style => "position: absolute; top: 0; right: 0; border: 0;", :src => "https://d3nwyuy0nl342s.cloudfront.net/img/7afbc8b248c68eb468279e8c17986ad46549fb71/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67", :alt => "Fork me on GitHub"}
    %img{:src => "/#{@stache_num}?src=#{DEMO_IMAGE}"}
    %h1 #{@site}/#{@stache_num}?src=<em>YOUR_IMAGE_URL</em>
    
    #footer
      Created by 
      %a{:href => "http://www.aidanfeldman.com/"}<
        Aidan Feldman
      \- thanks to
      %a{:href => "https://github.com/benburkert"}<
        Ben Burkert
      for hosting.
      %br
      %br
      %a{:href => "http://face.com/", :title => "Face Recognition by face.com"}
        %img{:src => "http://static.face.com/badges/badge_2_light_bg.png", :alt => "Face Recognition by face.com"}
