!!!
%html
  %head
    %title baneify
    = haml :ga
    :css
      img {
        border: none;
      }
      #footer {
        margin-top: 250px;
        text-align: center;
      }
      #footer,
      #footer a {
        color: grey;
      }
  %body
    %a{:href => "https://github.com/Docracy/mustachio"}
      %img{:style => "position: absolute; top: 0; right: 0; border: 0;", :src => "https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png", :alt => "Fork me on GitHub"}
    %img{:src => "/#{@stache_num}?src=#{DEMO_IMAGE}"}
    %h1 #{@site}/#{@stache_num}?src=<em>YOUR_IMAGE_URL</em>
    
    #footer
      Created by 
      %a{:href => "http://www.aidanfeldman.com/"}<
        Aidan Feldman
      \- poorly modified by %a{:href => "https://github.com/megamattron"}<
        Matt Hall
      \.
      %br
      %br
      %a{:href => "http://face.com/", :title => "Face Recognition by face.com"}
        %img{:src => "http://static.face.com/badges/badge_2_light_bg.png", :alt => "Face Recognition by face.com"}
